@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#name{
    color: gold;
    background-color: #111111;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: italic;
    font-weight: lighter;
    text-decoration: overline;
}

#rgb{
    color: rgb(0, 255, 0);
     background-color: rgba(17, 0, 255);
     font-family: 'Poppins', sans-serif;
     font-size: 2rem;
    font-style: oblique; 
    text-transform: capitalize;
    text-decoration: underline;
    /* melhor usar o italic */
}

#hexa{
    color: #d2d2f0;
    background-color: #a11a1a;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.2;
    word-spacing: 10px;
    letter-spacing: 2px;
    /* esse é o line-height recomendado, mas ele não serve para aumentar o bloco e sim a distância da linha */
}

#alpha{
    /* color: #00000079; */
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 255, 106, 0.274);
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    font-weight: 100;
    text-transform: lowercase;
    text-decoration: line-through;
    text-align: center;
}